body {
    /* background-color: #a69cad; */
    margin: 0;
    /* font-family: "Asap", sans-serif;
    font-family: 'Exo', sans-serif; */
    font-family: 'Exo 2', sans-serif;
    /* background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?cs=srgb&dl=pexels-luis-gomes-546819.jpg&fm=jpg"); */
    background-size: cover;
    /* backdrop-filter: blur(3px); */

    background-color: #50E3C2;
    background-image:
        radial-gradient(at 47% 33%, hsl(299.64, 85%, 39%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(295.42, 71%, 67%) 0, transparent 55%);
    user-select: none;
}

.login {
    overflow: hidden;
    /* background-color: #ad77cf; */
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2); 
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */
    backdrop-filter: blur(2px) saturate(62%);
    -webkit-backdrop-filter: blur(2px) saturate(62%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*.login::before,
.login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}

.login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(71, 73, 162, 0.637);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
}

.login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(4, 0, 255, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
}*/

.login>input {
    /* font-family: "Asap", sans-serif; */
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.login>button {
    /* font-family: "Asap", sans-serif; */
    cursor: pointer;
    /* color: #7b73f2; */
    color: #666666;
    font-size: 16px;
    /* text-transform: uppercase; */
    width: 150px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}

.login>button:hover {
    background-color: #d3cccc;
}


@-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}

#logo-unichat {
    width: 300px;

}

#div-logo {
    text-align: center;
    padding-bottom: 20px;
}

input {
    font-family: 'Exo 2', sans-serif;
}

#mdpo{
    font-size: 15px;
    color: #666666;
}